
<h1>Weight Tracker</h1>

<div class="List">
    <ul>
        <p>Initial Weight <input type="number" min="0" (keyup)="updateIni($event)" id= "intWeight" size="3"/>lb</p>
        <p>Goal Weight <input type="number" min="0" (keyup)= "updateG($event)" id= "goalWeight" size="3"/>lb</p>
        <p>Current Weight <input type="number" min="0" (keyup)="updateC($event)" id= "weightIn" size="3"/>lb</p>
        <p>Height <input type="number" min="0" (keyup)="updateH($event)" id= "heightIn" size="3"/>in</p>
    </ul>

    <button (click) = "doSubmit()">Track Weight</button>
    <button (click) = "BMI()">Calculate BMI</button>
    <div class="Initial" id="ini">Initial Weight: 0</div>
    <div class="goal" id="goalW">Goal Weight: 0</div>
    <div class="Current" id="currentW">Current Weight: 0</div>
    <div class="difference" id="differ">Weight Difference: 0</div>
    <div class="Height" id="height">Height: 0</div>
</div>