<app-header></app-header>
<h1>Groceries</h1>

<section id="grocery-list-view">
	<fieldset>
		<legend>Groceries List</legend>
		<div>
			<h4>Date: {{date | date:"fullDate"}}  </h4> 
			<h4>Total cost: {{total_Cost | currency}}</h4>
		</div>
		<div *ngFor="let list of lists; index as i">
			<div class="accordion" (click)= "accOpen()">
				<span>{{list.label}}  </span> 
				<span><strong>Date: </strong>{{list.date | date:"fullDate"}}  </span> 
				<span><strong>Total Cost:</strong> {{list.list_Cost | currency}}</span>
			</div>
		
			<div class="accordion-content">
				<div *ngFor="let item of list.items; let j = index" hide="!item.isActive">
					<span>{{item.name}}</span>
					<span><strong>Category: </strong>{{item.category}}</span>
					<span><strong>Organic: </strong>{{item.organic}}</span>
					<span><strong>Price: </strong>{{item.price}}</span>
					<span><strong>Quantity: </strong>{{item.quantity}}</span>
				</div>
			</div>
		</div>
	</fieldset>
</section>


<section id="modify-item">
	<fieldset id="add-item">
		<legend>Adding Item(s)</legend>
		<div>
			<p>
				<label for="listName">List Name: </label>
				<input type="text" name="listName" id="listName1" title="list name">
				<label for="itemName">Item's Name: </label>
				<input type="text" name="itemName" id="itemName1" title="item name"><br>
				<label for="itemCategory">Category: </label>
				<input type="text" name="itemCategory" id="itemCategory1">
			</p>
			<p>
				<label for="itemOrganic">Organic (yes/no): </label>
				<select type="text" name="itemOrganic" value="Yes" id="itemOrganic1" title="organic">
					<option value="Yes">Yes</option>
					<option value="No">No</option>
				</select>
				<label for="itemPrice">Price: </label>
				<input type="number" min="0.01" name="itemPrice" id="itemPrice1" title="number">
				<label for="itemQuantity">Quantity: </label>
				<input type="number" name="itemQuantity" min="1" id="itemQuantity1" title="number">
			</p>
		</div>
		<button (click)="add_item()">Submit</button>
	</fieldset>

	<fieldset id="remove-item">
		<legend>Removing Item(s)</legend>
		<div>
			<label for="listName">List Name: </label>
			<input type="text" name="listName" id="listName2" title="list name">
			<label for="itemName">Item's Name: </label>
			<input type="text" name="itemName" id="itemName2" title="item name">
		
			<button (click)="remove_item()">Submit</button>
		</div>
	</fieldset>

	<fieldset id="edit-item">
		<legend>Editing Item(s)</legend>
		<div>
			<label for="listName">List Name: </label>
			<input type="text" name="listName" id="listName3" title="list name">
			<label for="itemName">Item's Name: </label>
			<input type="text" name="itemName" id="itemName3" title="item name"><br>
			<label for="itemField">Field to change: </label>
			<input type="text" name="itemField" id="itemField" (change)="isOrganic()">
			<label for="fieldValue">New Value: </label>
			<input type="text" name="fieldValue" id="fieldValue" (click)="isOrganic()" title="organic">
			<button (click)="edit()">Submit</button>
		</div>
		
	</fieldset>
</section>

<section id= "modify-list">
	<fieldset id="add-list">
		<legend>Adding a Grocery list</legend>
		<div>
			<label for="listName">Name: </label>
			<input type="text" name="listName" id="listToAdd" title="list name">
			<button (click)="list_add()">Submit</button>
		</div>
	</fieldset>

	<fieldset id="remove-list">
		<legend>Removing a Grocery list</legend>
		<div>
			<label for="listName">Name: </label>
			<input type="text" name="listName" id="lisToRemove" title="list name">
			<button (click)="list_remove()">Submit</button>
		</div>
	</fieldset>

	<fieldset id="edit-list">
		<legend>Editing a Grocery list</legend>
		<div>
			<label for="listName">Current name: </label>
			<input type="text" name="listName" id="listNameOld" title="list name">
			<label for="listName">New name: </label>
			<input type="text" name="listName" id="listNameNew" title="list name">
			<button (click)="list_label_edit()">Submit</button>
		</div>
	</fieldset>
</section>

