html {
    background-color:rgb(122, 206, 172);
}

h1{
    border: 3px solid rgb(21, 65, 51);
    padding: 20px;
    font-family: "Times New Roman", Times, serif;
    color: rgb(21, 65, 51);
    text-align: center;
    font-weight: bold;
    margin-bottom: 3rem;
}

p {
    text-align: center;
}
.accordion{
	background-color: #eee;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	transition: 0.2s;
}

.accordion-content{
	width: 100%;
	padding: 0 1px;
	background-color: #fff;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-in-out;
}

.active, .accordion:hover{
	background-color: #ccc;
}

.accordion:after{
	content: '\002B';
	color: #777;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.active:after{
	content: '\2212';
}

.accordion span{
	margin-right: 1%;
}

.accordion-content div span{
	display: table-cell;
	width: 21.8%;
}

label{
	margin: 2% 1% 0 2%;
}

#modify-item fieldset{
	margin-top: 3%;
}

fieldset{
	width: 80%;
	margin:auto;
}


button{
	float: right;
	margin-right: 3%;
	width: 70px;
	height: 50px;
	border-radius: 10px;
	background: linear-gradient (gray);
	box-shadow: inset 1px blue;
	transition: 0.4s ease-in;
}

button:hover{
	background: linear-gradient(white);
	background-color: #000000;
	color: #ffffff;
}
button:active{
	position: relative;
}
